.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bg-blue-primary {
  background-color: #24408e;
}

.bg-blue-secondary {
  background-color: #4460aa;
}

/* #sidebar a {
  color: white;
}

.menu-item {
  margin-bottom: 5px;
  width: 100%;
  padding: 0 10px 0 10px;
}

.active-menu {
  background-color: #6579af;
  border-radius: 5px;
}

.sidebar-logo {
  line-height: 35px;
  margin-bottom: 20px;
} */

/* ----------------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #24408E;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #D4D4D4;
}
#sidebar .sidebar-header h4 {
    text-align: center;
    color: #24408E;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

<<<<<<< HEAD
.bg-gray-primary {
  background-color: #cccccc;
}

.btn-arrow:hover {
  background-color: #ababab;
  box-shadow: 0px 0px 5px 0px #ababab;
}

/* Transition */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
=======
#sidebar ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a i {
    padding-right: 10px;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #183175;
    /* margin-left: 10px;
    margin-right: 10px; */
    border-radius: 5px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6579AF;
    /* margin-left: 10px;
    margin-right: 10px; */
    border-radius: 5px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content .side-map {
    flex: 30%;
    background-color: #e2e2e2;
    padding: 20px;
}

#content .side-start {
    /* flex: 30%; */
    margin-left: 1.3%;
    background-color: #e2e2e2;
    padding: 20px;
    width: 30%;
}
#content .side-directions {
    /* flex: 10%; */
    background-color: #e2e2e2;
    padding: 20px;
    width: 65%;
}
.profile {
    background-color: #b8b8b8; 
    color: rgb(153, 153, 153); 
    width: 100px; 
    height: 100px;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
}

hr {
    border-top:  solid rgba(0,0,0,.1);
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    line-height: 30px;
    width: 100%;

    text-align: center;
    justify-content: center;
    color: #8A8A8A;
    background: #F4EDED;
  }
>>>>>>> testing
