.bg-blue-primary {
  background-color: #24408e;
}

.bg-blue-secondary {
  background-color: #4460aa;
}

#sidebar a {
  color: white;
}

.menu-item {
  margin-bottom: 5px;
  width: 100%;
  padding: 0 10px 0 10px;
}

.active-menu {
  background-color: #6579AF;
  border-radius: 5px;
}

.sidebar-logo {
  line-height: 35px;
  margin-bottom: 20px;
}

.bg-gray-primary {
  background-color: #cccccc;
}

.btn-arrow:hover{
  background-color: #ababab;
  box-shadow: 0px 0px 5px 0px #ababab;
}
